<h1>New or Edit Post!</h1>
<form class="form">
  <label for="post_title">
    Title
    <input 
      name="post[title]" 
      id="post_title" 
      value="<%= post ? post.escape('title') : '' %>" >
  </label>
  <br>
  <label for="post_body">
    Body
    <input 
      name="post[body]" 
      id="post_body"
      value="<%= post ? post.escape('body') : '' %>" >
  </label>
  <br>
  <input 
    type="hidden" 
    name="<%= post ? post[id] : 'not_an_id_for_this_new_post' %>" 
    value="<% if(post){ %>
      <%= post.escape('id') %>
      <% } %>" >
  <button class="submit"><%= post ? "Update" : "Create" %></button>
</form>
<a href="#/">Back</a>