  <h1> This is the real Index Page </h1>
  <ul>
    <% posts.each(function(post){ %>
      <li>
        <ul>
          <li>
            <a href="#/posts/<%= post.escape('id') %>" class="post" data-id="<%= post.escape('id') %>">
              <%= post.escape("title") %>
            </a>
          </li>
          <li><%= post.escape("body") %></li>
          <li>
            <button class="delete" data-id="<%= post.escape("id") %>">
              Delete
            </button>
          </li>
        </ul>
      </li>

    <% }) %>
  </ul>
  <a href="#/posts/new">New Post</a>